.icon-rotate {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  span.navbar-brand {
    color: white;
  }
  span.navbar-brand:focus {
    color: white;
  }
  span.navbar-brand:hover {
    color: white;
  }
  svg.icon-rotate.text-light {
    margin-left: 0.5rem;
  }
  button.navbar-toggler {
    color: white;
    margin-right: 0.5rem;
  }
  /* Estilo para quitar el borde en el focus del Navbar.Toggle */
  .navbar-toggler:focus {
  outline: none;
  }
  a.text-light.nav-link {
    margin-left: 0.5rem;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    /* box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width); */
  }

  /* OperadoraAtencionCliente.css */
.operadora-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.operadora-icon {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.operadora-icon:hover {
  background-color: #0056b3;
}

  